# Dependências do Node
node_modules/
dist/

# Configurações e logs locais
.vscode/
.env
.env.local
*.local

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Cache do Vite
.vite/
.cache/

# Cache do sistema
.DS_Store
Thumbs.db

# Arquivos de compilação e builds
*.lock
*.cache
*.gz
*.zip

# Arquivos de relatórios
coverage/
.jest/
test-results.xml
